@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
html{
    height: 100vh;
}
body{
    background-color: whitesmoke;
    margin: 0;
}

.topnav{
    margin: 2.5% 2.5% 2.5% 2.5%;
    padding: 10px 0px 20px 0px;
    position: static;
    text-align: left;
    
}

.topnav a{
    font-family: 'PT Mono', monospace;
    color: rgb(0, 0, 0);
    font-size:40px;
    font-weight: bold;
    text-decoration: none;

}

.container{
    margin: 4% 2.5% 2.5% 2.5%;
    color:pink;
    padding: 2.0% 5% 50px 35%;

}

h1{
    text-align: right;
    font-family: 'PT Mono', monospace;
    color: rgb(0, 0, 0);
    font-size:60px;
}

h2{
    text-align: right;
    font-family: 'PT Mono', monospace;
    color: rgb(0, 0, 0);
    font-size:40px;
}

.footerlinks{
    margin: 20% 15% 0% 15%;
    padding: 2.5% ;
    position: absolute;
    bottom: 7%;
    width: 70%;
    height: 2.5rem;
}

.footerlinks ul {
    padding: 0 0 0 0;
    text-align: center;


}

.footerlinks li{
    display:inline-block;
    padding: 0px 10% 0 2%;
    
   
}

.footerlinks a{
    font-family: 'PT Mono', monospace;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-decoration: none;
}


/* For mobile phones: */
@media only screen and (max-width: 600px) {

    html{
        height: 100vh;
    }
    body{
        background-color: whitesmoke;
    }

    .topnav{
        margin: 40px 20px 0px 20px;
        padding: 10px 0px 60px 0px;
        position: static;
        text-align: left;
        
    }

    .topnav a{
        font-family: 'PT Mono', monospace;
        color: black;
        font-size:20px;
        text-decoration: none;
        

        

    }

    .container{
        margin: 50px 20px 0 20px;
        padding: 10px 10px 90px 10px;
        color:black;
        float:left;
        display:block;

    }

    h1{
        text-align: right;
        font-family: 'PT Mono', monospace;
        color:black;
        font-size:35px;
    }

    h2{
        text-align: right;
        font-family: 'PT Mono', monospace;
        color:black;
        font-size:20px;
    }

    .footerlinks{
        margin: 20% 15% 0% 15%;
        padding: 2.5% ;
        position: absolute;
        bottom: 7%;
        width: 70%;
        height: 2.5rem;
    }

    .footerlinks ul {
        padding: 0px;
        text-align: center;


    }

    .footerlinks li{
        display:inline-block;
        padding: 5px;
        
       
    }

    .footerlinks a{
        font-family: 'PT Mono', monospace;
        color:black;
        font-size: 15px;
        text-decoration: none;
    }

  }
