body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(
        to top,
        #b4e2ff 0%,
        #f0f0f0 30%,
        #f0f0f0 70%,
        #b4e2ff 100%
    );
}

/* Updated styles for the header layout */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 2vh;
    margin: 0 2vh;
}

.left-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4vh;
}

.left-header a {
    margin: 0; /* Remove the default margin on the <a> element */
    text-decoration: none;
    color: white; /* Link color */
}

.center-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.center-header h1 {
    font-size: 5vh;
    font-weight: 300;
    font-family: 'PT Mono', monospace;
}

.right-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4vh;
}

.right-header a {
    text-decoration: none;
    color: white; /* Link color */
}

/* Your existing styles for the projects and slogan */


.projects {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.05) 2%, transparent 2%),
        linear-gradient(90deg, rgba(0, 0, 0, 0.05) 2%, transparent 2%);
    background-size: 30px 30px;
    width: 100vh;
    border-radius: 20%;
    height: 70vh; /* Adjusted the height to make it centered */
    margin: 0 auto; /* Center horizontally */
    display: flex;
    border: 0.5vh solid white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.ideas-list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.idea-title {
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden;
    display: inline-block;
    margin: 2vh 0 2vh 0;
}

.idea-title a {
    color: black;
}


.idea-icon {
    width: 11vh; /* Adjust the width as needed */
    height: 11vh; /* Adjust the height as needed */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}
#project2 .idea-icon {
    width: 14vh;
    height: 14vh;
}

.tape {
    content: "";
    position: absolute;
    bottom: 17vh;
    left: 30px;
    width: 30%;
    height: 15px; /* Adjust the height as needed */
    background-color: rgb(88, 88, 88); /* Choose the desired color for the tape */
    z-index: 1; /* Position it in front of the image */
  }

  #project2 .tape{
    content: "";
    position: absolute;
    bottom: 19vh;
    left: 10vh;
    width: 30%;
    height: 15px; /* Adjust the height as needed */
    background-color: rgb(88, 88, 88); /* Choose the desired color for the tape */
    z-index: 1; /* Position it in front of the image */
  }

.category {
    text-align: left;
    padding: 5px 10px; /* Add padding to create a background only behind the text */
    display: inline-block;
}

/* Define the specific positions of each project using random values */
#project1 {
    top: 5%;
    right: 35%;
}

#project2 {
    top: 10%;
    right: 25%;
}


#project3 {
    bottom: 30%;
    left: 10%;
}


/* Your existing styles */

.slogan {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically center elements */
    color: white; /* Text color */
    overflow: hidden;
    margin: 0 1.5vh;
}

.slogan p{
    font-size: 5vh;
    font-weight: 400;
}




  
  /* Your existing styles */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
}

.left-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.right-footer {
    text-align: right;
}

.scrolling-banner-footer {
    animation: scrollTextFooter 10s linear infinite;
}

@keyframes scrollTextFooter {
    0% {
        transform: translateX(80%);
    }
    100% {
        transform: translateX(-80%);
    }
}

.slogan {
    overflow: hidden; /* Hide the overflow of the slogans */
    white-space: nowrap; /* Prevent slogans from wrapping to the next line */
}

.slogan p {
    display: inline-block; /* Display the slogans in a single line */
    padding-right: 50px; /* Add space between slogans */
    animation: scrollSlogans 20s linear infinite;

}

@keyframes scrollSlogans {
    0% {
        transform: translateX(100%); /* Start from the right side */
    }
    100% {
        transform: translateX(-100%); /* Scroll to the left side */
    }
}


/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .center-header {
        order: 1;
    }

    .left-header, .right-header {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: row; /* Display links in a single row */
        gap: 20px; /* Adjust the spacing between the links */
    }
    

    .left-header {
        order: 2;
    }

    .right-header {
        order: 2;
    }

    .left-header a, .right-header a {
        margin: 0 1px; /* Adjust the margin between the links */
    }

    .projects {
        background: 
            linear-gradient(rgba(0, 0, 0, 0.05) 2%, transparent 2%),
            linear-gradient(90deg, rgba(0, 0, 0, 0.05) 2%, transparent 2%);
        background-size: 30px 30px;
        width: 100%;
        border-radius: 0%;
        height: 70vh; /* Adjusted the height to make it centered */
        margin: 2vh 0 0 0;
    }

    .ideas-list{
        width: 100%;
        padding:0 0 2vh 0;
    }

    .idea-icon {
        width: 10vh;
        height: 10vh;
    }

        /* Define the specific positions of each project using random values */
    #project1 {
        top: 0%;
        right: 0%;
    }

    #project2 {
        top: 0%;
        right: 0%;
    }


    #project3 {
        bottom: 0%;
        left: 0%;
    }

    .projects {
        border: none;
    }

    .tape{
        display: none;
    }

    .slogan p {
    font-size: 4vh;
    padding: 0;
    
    }

    
    

}





  
  
