/* styles.css */
body {
    font-family: 'Lato', Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Ensure flex children stack vertically */
    align-items: center; /* Center horizontally */
    height: 100vh;
    background-color: #121212; /* Default to light mode background */
    overflow: hidden; /* Hide default scrollbar */
}

body::-webkit-scrollbar {
    width: 0.5em; /* Adjust as needed */
}

.fact-container {
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
    width: 45vh;
    padding-left: 0.5em;
    background-color: #121212;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    max-height: 83vh;
    margin-top: 2vh; /* Add margin-top to separate it from the navigation bar */

}

.fact-text {
    margin-bottom: 2vh; /* Adjust this value to control the spacing */
    padding: 2vh;
    margin-top: 2.5vh;
}


/* Hide scrollbar for webkit-based browsers inside .fact-container */
.fact-container::-webkit-scrollbar {
    width: 0.5em; /* Adjust as needed */
}

#fact-container {
    scroll-behavior: smooth;
    /* Other styles for your fact container */
}



.max-image-size {
    max-width: 70%; /* Adjust as needed based on your container size */
    max-height: 30%;
    object-fit: contain;
    overflow: hidden;
    margin: 0 auto 2vh;
    display: block;
}

.fact-card {
    margin-bottom: 3.5vh;
    min-height: 74.5vh;
    background-color:#212121;
    border-radius: 2.2vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Adjust this property */
    overflow: hidden; /* Add overflow property */
    color: white;
}




.peek {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--peek-background);
    text-align: center;
    padding: 5px 0;
    cursor: pointer;
    transition: background-color 0.2s, opacity 0.2s; /* Add opacity transition */
    opacity: 0; /* Initially hidden */
}

.peek span {
    color: #888;
}



.loading-indicator {
    display: none; /* Initially hidden */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.loading-message {
    height: 60vh;
    padding: 20px;
    background-color: green; /* Default to light mode background */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    scroll-snap-align: start; /* Snap each card to the start of the container */
    display: flex;
    max-width: 45vh;
    flex-direction: column;
    justify-content: space-between; /* Space between image and text */

    /* Add margin-top and margin-bottom to control spacing */
    margin-top: 10px; /* Adjust this value for top spacing */
    margin-bottom: 10px; /* Adjust this value for bottom spacing */

    /* Animation properties */
    animation: loadingAnimation 1s ease-in-out infinite;
}


@keyframes loadingAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Add a new class to control spacing */
.message-container {
    margin-top: 10px; /* Adjust this value for spacing */
    margin-bottom: 10px; /* Adjust this value for spacing */
}


.loading-spinner {
    margin: 10% auto;
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #FFA500; /* Color of the spinner */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.category-nav-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent button text from wrapping */
    -ms-overflow-style: none; /* Hide scrollbar in Internet Explorer */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
    background-color: #121212;
    border-radius: 2vh;
    position: sticky;
    top: 0;
    margin-top: 2vh;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 45vh; /* Take full width of the container */
}

/* Hide the scrollbar for other browsers */
.category-nav-container::-webkit-scrollbar {
    display: none;
}

/* Hide the scrollbar for Firefox */
.category-nav-container {
    scrollbar-width: none;
}

.static-button {
    padding: 1vh 0vh 1vh 0vh; /* Add padding to the static button container */
    background-color: #121212;
}

/* Add CSS to style the category navigation */
.category-nav, #home-button {
    display: inline-block; /* Display buttons inline */
    padding: 10px; /* Add padding to both home and category buttons */
}

#home-button {
    background-color: #212121;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 3vh; /* Add border-radius for rounded shape */
    font-size: 0.7rem;
    transition: background-color 0.2s, color 0.2s, border-radius 0.2s; /* Add transitions */
    color: white;
    margin-right: 1vh; /* Add some spacing between home and category buttons */
}

.category-button {
    background-color: #212121;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 3vh; /* Add border-radius for rounded shape */
    font-size: 0.7rem;
    transition: background-color 0.2s, color 0.2s, border-radius 0.2s; /* Add transitions */
    color: white;
    margin-right:1.2vh; /* Add some spacing between category buttons */
}


.category-button:hover {
    background-color: #FFA500; /* Light grey background on hover */
    color: #121212;
}

.category-button:focus {
    outline: none; /* Remove focus outline */
}

.category-button.clicked {
    background-color: #FFA500; /* Orange background when clicked */
    color: var(--text-light);
    border-radius: 15px; /* Maintain the rounded shape when clicked */
}

#home-button:hover {
    background-color: #FFA500; /* Light grey background on hover */
    color: #121212;
}

#home-button:focus {
    outline: none; /* Remove focus outline */
}

#home-button.clicked {
    background-color: #FFA500; /* Orange background when clicked */
    color: var(--text-light);
    border-radius: 15px; /* Maintain the rounded shape when clicked */
}

.scrollable-buttons {
    overflow-x: auto; /* Enable horizontal scrolling for these buttons */
    white-space: nowrap; /* Prevent button text from wrapping */
    padding: 1vh ;
}


/* Style the footer and its content */
footer {
    background-color:  #121212;
    color: white;
    width: 50vh;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    width: 50vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #121212;
}

/* Style the "Feedback" link */
footer a {
    color: white;
    font-size: 0.7rem;
    text-decoration: none;
    margin-left: 5vh;
    margin-right: 5vh; /* Add right margin to increase spacing */
}

footer p{
        display: block;
        margin-block-start: 1vh;
        margin-block-end: 1vh;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
}


